.library-button {
    /* Struktura */
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    /* Wygląd */
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba */
    border: 1px solid #999; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.library-button-primary
{
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.library-button-red {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.library-button[disabled],
.library-button[disabled]:hover,
.library-button[disabled]:focus,
.library-button[disabled]:active {
    border: none;
    background-image: none;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

/* Firefox: Get rid of the inner focus border */
.library-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.library-button:hover,
.library-button:focus {
    /* csslint ignore:start */
    filter: alpha(opacity=90);
    /* csslint ignore:end */
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.library-button:focus {
    outline: 0;
}

.library-button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000;
}