.dropdown-menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.0)
    )
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li {
    color: #FFFFFF;
    cursor: pointer;
}

.dropdown-menu__first-level {
    display: flex;
}

.dropdown-menu__first-level > li {
    padding: 0 10px;
}

.dropdown-menu__submenu {
    position: absolute;
    background: #573D1C;
    display: none;
}

.dropdown-menu__submenu li {
    width: 200px;
    padding: 10px 0 0 5px;
    height: 30px;
}

.dropdown-menu__submenu li:hover {
    background: #775426;
}

.dropdown-menu__submenu-invoker {
    max-height: 40px;
}

li > ul > li > ul {
    display: none;
    background: #573D1C;
    position: relative;
    top: -30px;
    left: 200px;
}

.dropdown-menu a {
    color: #FFF;
    text-decoration: none;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}

#category1:hover > #category1__submenu,
#category2:hover > #category2__submenu,
#category3:hover > #category3__submenu,
#subcategory1:hover > #subcategory1__submenu,
#subcategory2:hover > #subcategory2__submenu,
#subcategory3:hover > #subcategory3__submenu
{
    display: inline-block;
}