.gallery__image-container {
    display: flex;
    width: 640px;
    height: 480px;
    justify-content: space-between;
    transition: opacity .2s linear;
    border: 1px solid #555555;
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3);
}

.gallery__navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.gallery__navigation-bar:hover{
    background: rgba(0, 0, 0, 0.5);
}

.gallery__navigation-bar i {
    color: #ffffff;
    font-size: 36px;
}

.gallery__hidden-content {
    display: none;
}