@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
}

html > body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
}