body {
    background: url("../img/memphis-colorful.png") repeat;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #74A57F;
    font-size: 24pt;
}

.header-container__text {
    font-weight: 700;
    color: #FFFFFF;
}

.header-container__text--medium {
    font-size: 60%;
}

.header-container__text--small {
    font-size: 0.3em;
}

.header-container__text--small-caps {
    font-variant: small-caps;
}

.header-container__text--italic {
    font-style: italic;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.static-background-container {
    height: 200px;
    width: 50%;
    max-width: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url('http://lorempixel.com/600/200/animals') scroll;
}

.static-background-container__expander {
    height: 400px;
    width: 100%;
}